.jumbotron
{
    background: yellow;
    color:black;
    text-align: center;
}
.footer
{
    padding: 10px, 10px, 10px;
    background-color: #1e2124;
    text-align: center;
}
span
{
    color:gray;
}
p
{
    color: rgb(66, 66, 66);
}
body
{
    background-color: darkgray;
}